@import "../common/common";

.copy-button {
  @include flexCenter;
  padding: 6 * $px;
  position: absolute;
  top: 0;
  right: 0;
  width: 40 * $px;
  height: 40 * $px;
  background: none;
  border: none;
  border-color: $borders;
  border-width: 1 * $px;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  cursor: pointer;
  background: $black;

  img {
    width: 100%;
    height: 100%;
    filter: invert(1);
  }

  &.copy-html {
    border-right-style: unset;
  }
}

@media screen and (max-width: 768 * $px) {
  .copy-button {
    border-right-style: unset;
  }
}
