@import "../common/common";

$height: calc(100vh - #{170 * $px});

.previewer-wrapper {
  border: 1 * $px solid $borders;

  &,
  .columns,
  .column,
  textarea {
    min-height: $height;
  }

  .columns {
    margin: 0 !important;
  }

  .input-wrapper,
  .output-wrapper {
    padding: 0;
    position: relative;
  }

  .label {
    @include flexCenter;
    position: absolute;
    left: 0;
    top: 0;
    border-color: $borders;
    border-width: 1 * $px;
    border-right-style: solid;
    border-bottom-style: solid;
    padding: 0 18 * $px;
    background: $black;
    font-weight: 100;
    margin: 0 !important;
    height: 40 * $px;

    &.md-label {
      color: $blue;
    }

    &.html-label {
      color: $red;
    }
  }

  .input-wrapper {
    textarea {
      width: 100%;
      height: 100%;
      resize: none;
      background: none;
      padding: 60 * $px 20 * $px;
      color: $white;
      border: none;
      border-width: 1 * $px;
      border-color: $borders;
      border-right-style: solid;
    }
  }

  .output-wrapper {
    h1 {
      font-size: 28 * $px;
    }

    h2 {
      font-size: 25 * $px;
    }

    h3 {
      font-size: 20 * $px;
    }

    h4 {
      font-size: 18 * $px;
    }

    code {
      color: $black;
      font-family: $font_mono;
      display: block;
    }

    pre {
      padding: 0;
      background: none;
      color: $white;
      font-family: $font_mono;
      white-space: pre-wrap;
      word-break: break-word;
      overflow: hidden;
    }

    h1,
    h2,
    h3,
    h4,
    p,
    a,
    ul,
    code {
      margin-bottom: 10 * $px;
      word-break: break-all;
      line-height: 1.2;
    }

    code {
      padding: 15 * $px;
    }

    section {
      @include cubicBezier(450ms);
      padding: 60 * $px 20 * $px;
      opacity: 1;
    }

    &.is-changing {
      section {
        opacity: 0;
      }
    }

    .output-switch {
      @include flexCenter;
      @include cubicBezier(400ms);
      background: none;
      position: absolute;
      top: 0;
      right: 40 * $px;
      width: 40 * $px;
      height: 40 * $px;
      padding: 0;
      border: 0;
      border-width: 1 * $px;
      border-color: $borders;
      border-bottom-style: solid;
      border-left-style: solid;
      cursor: pointer;
      overflow: hidden;

      &:hover {
        background: $blue;
      }

      img {
        position: absolute;
        display: block;
        width: 40 * $px;
        height: 40 * $px;
        padding: 4 * $px;
        transition: inherit;
        filter: invert(1);

        &.code {
          top: -35 * $px;
        }

        &.content {
          bottom: 0;
        }
      }

      &.is-active {
        background: $red;

        img {
          &.code {
            top: 0;
          }

          &.content {
            bottom: -35 * $px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768 * $px) {
  .previewer-wrapper {
    .output-wrapper section,
    .input-wrapper textarea {
      padding-top: 55 * $px;
    }

    .input-wrapper {
      height: $height;
      min-height: unset;

      textarea {
        height: 100%;
        border-right-style: none;
        border-bottom-style: solid;
      }
    }

    .output-wrapper {
      section {
        overflow-y: scroll;
      }
    }
  }
}
