:root {
  --textColor: #fff;
  --bodyBackground: #000;
  --borderColor: #5c6268;

  .theme-light {
    --textColor: #000;
    --bodyBackground: #fff;
  }
}

// Units
$px: 0.0625rem;

// Fonts
$font_mono: 'Roboto Mono';
$font_main: 'Poppins';

// Colors
$black: var(--bodyBackground);
$white: var(--textColor);
$borders: var(--borderColor);
$blue: #2188ff;
$red: #ea4a5a;
